body {
    background-image: url("http://imgur.com/UbbFBTU.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
	color: #E6E21C;
	text-align: center;
	font-family: Georgia;
	font-style: bold;
	width: 450px;
	padding: 5px;
	border-radius: 10px;
	margin:10px auto;
	background: rgba(56,181,179,.3);
}
h2 {
	margin: 5px;
}

.test {
	color: white;
}

.inputField {
	margin: 25px;
	float: left;
}

.buttons {
	text-align: center;
	margin-top: 30px;
}

.guessField {
	text-align: center;
	color: #E6E21C;
	/*color: black;*/
	width:300px;
	height:290px;
	padding:20px;
	border-radius: 10px;
	margin:0px auto;
	background: rgba(37,153,168,.3);
}

.previousGuesses {
	float: right;
}

.btn {
	text-align: center;
	border-radius: 15px;
	color: #E6E21C;
	font-size: 16px;
	font-weight: bold;
	height: 50px;
	width: 180px;
	padding: 0px;
	margin: 15px;
	background-color: rgba(6,109,161,1);
}

.colder {
	color: rgba(25,218,218,1);
	font-weight: bold;
	margin: 2px;
	font-size: 16px;
}

.hotter {
	color: rgba(260,60,60,1);
	font-weight: bold;
	margin: 2px;
	font-size: 16px;
}

#message {
	margin: 10px;
}

